[pylint]
disable=
    anomalous-backslash-in-string,
    arguments-differ,
    arguments-renamed,
    bare-except,
    broad-except,
    chained-comparison,
    consider-using-dict-items,
    consider-using-enumerate,
    consider-using-f-string,
    consider-using-get,
    consider-using-in,
    consider-using-set-comprehension,
    consider-using-with,
    f-string-without-interpolation,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    modified-iterating-dict,
    multiple-statements,
    no-else-break,
    no-else-return,
    no-name-in-module,
    pointless-statement,
    protected-access,
    raise-missing-from,
    redefined-builtin,
    redefined-outer-name,
    simplifiable-if-expression,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    trailing-whitespace,
    undefined-variable,
    ungrouped-imports,
    unidiomatic-typecheck,
    unnecessary-comprehension,
    unnecessary-lambda,
    unspecified-encoding,
    unsubscriptable-object,
    unused-argument,
    unused-import,
    unused-variable,
    used-before-assignment,
    useless-object-inheritance,
    useless-return,
    using-constant-test,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
